# ==========================================
# KONFIGURASI BOT WHATSAPP AI "rinezz"
# ==========================================

# Nama Bot & Pemilik
BOT_NAME=(nama bot kamu)
OWNER_NAME=(nama pembuat)

# Otak AI 9router (Model: nama_model_ai_kamu)
ROUTER9_API_KEY=masukkan_api_key_9router_disini
ROUTER9_BASE_URL=https://api.9router.com/v1
AI_MODEL=nama_model_ai_kamu

# Metode Login WhatsApp
# Set true jika ingin login pakai kode pairing 8-digit (tanpa kamera)
# Set false jika ingin login scan QR Code di terminal
USE_PAIRING_CODE=false

# Nomor WhatsApp untuk pairing (jika USE_PAIRING_CODE=true)
# Format internasional tanpa simbol + atau spasi (contoh: 6281234567890)
PAIRING_NUMBER=
